body{
    margin: 0;
    padding: 0;
    background: black url('/html/fundo.png');
    font: 16px Arial, Helvetica, sans-serif;
}

#principal{
    border: 2px solid red;
    width: 900px;
    height: 500px;
}